.nav{
    background-color: #8ACDD7;
    height: 70px;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;

}

.Search-bar{
    width: 500px;
    height: 30px;
    box-shadow: 0 0 5px 0 ;
    background-color: #F9F9E0;
}


.main-Register-btn{
    height: 35px;
    width: 150px;
    /* margin-right: 20px; */
    /* border: 2px solid #FFC0D9; */
    background-color: #F9F9E0;
    border-radius: 8px;
}

.details-flex{
/* display: flex; */
background-color: #8ACDD7;
width: 350px;
height: 350px;
display: flex;
flex-direction: column;
align-items: center;
text-align: center;
align-items: center;
/* gap: 5px; */
margin: 5px;
padding: 10px;
box-shadow: 5px 5px 15px black;
}

ul{
    display: grid;
    grid-template-columns: auto auto auto;
    list-style:none ;
}